<h1>{{beer.data.name}}</h1>

<dl>
  <dt>Style</dt>
  <dd>{{beer.data.style.name}}</dd>
  <dt>ABV</dt>
  <dd>{{beer.data.abv}} %</dd>
  <dt>IBU max</dt>
  <dd>{{beer.data.style.ibuMax}}</dd>
  <dt>IBU min</dt>
  <dd>{{beer.data.style.ibuMin}}</dd>
</dl>

<img ng-show="beer.data.labels.large" src="{{beer.data.labels.large}}" alt="{{beer.data.name}}" title="{{beer.data.name}}" />
<img ng-show="!beer.data.labels.large" src="images/pint.gif" alt="Lovely Pints!" title="Lovely Pints!" />

<p>{{beer.data.description}}</p>

<button ng-show="hits<=3" ng-click="new()">Nah, give me another one!</button>
<button ng-show="hits>3" disabled>Oi! You had already enough :P</button>
